.headline
  %hgroup.span9
    %h1= @headline_1[rand(@headline_1.size)]
    %h2= @headline_2[rand(@headline_2.size)]
  .actions.span3
    = link_to t('ideas list').capitalize, ideas_path, class: "button"
    %a.button{href: "/artikkelit/20-usein-kysyttyja-kysymyksia"}= t('faq').capitalize
      
