.ideas_row {
  margin-bottom: 10px;
  position: relative;
  .span4 {
    min-height: 200px;
    background: seagreen;
  }
  .title {
    font-size: 18px;
    padding: 0px 10px;
  }
  .bar {
    position: absolute;
    bottom: 0px;
    padding: 5px 10px;
    width: 100%;
  }
}
