.ideas_header {
  text-transform: uppercase;
  font-weight: bold;
  color: $violet;
  font-size: 17px;
  -moz-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  -webkit-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  -o-border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  border-image:url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  border-width: 6px;
  border-top: 0px none;
  border-left: 0px none;
  border-right: 0px none;
  margin-bottom: 0;
  padding-bottom: 5px;
}
