body > header {
  height: 150px;
}

body > header > .top_row {
  height: 35px;
  margin-top: 15px;
}

body > header > .top_row > a {
  margin-top: 20px;
}

body > header > .bottom_row {
  height: 60px;
  margin-top: 40px;
}

body > header.top_row_container {
  height: 0;
  z-index: -1;
  border: 0 none;
}

body > header, body > header.top_row_container > .row, .ideas_header.row {
  border-width: 6px;
  -moz-border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  -webkit-border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  -o-border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  border-image: url("/assets/border-double-dotted.png") 0 0 6 0 repeat;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

header .login_actions a, header .idea_actions a {
  color: $turquoise;
  font-weight: bold;
  text-decoration: none;
}
header > .login_actions > div {
  float: right;
  line-height: 25px;
  text-align: right;
}

body > header > .top_row {
  height: 35px;
  margin-top: 15px;
}

body > header > .top_row > a {
  margin-top: 20px;
}

body > header > .bottom_row {
  height: 60px;
  margin-top: 40px;
}